.botao {
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  font-weight: 600;
  display: inline-block;
  color: #332200;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px 32px;
  text-transform: uppercase;
}
.botao:hover {
  background: linear-gradient(#ffb60d #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
