.introducao-bg {
  background: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -120px var(--cor-0);
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.introducao-conteudo h1 {
  margin-bottom: 32px;
}
.introducao-conteudo h1 span {
  color: var(--cor-p1);
}
.introducao-conteudo p {
  color: var(--cor-5);
  margin-bottom: 20px;
}
.introducao img {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
